/*Seriana Aranki*/

/* CSS RESET
 http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/************GLOBAL STYLES*****************/
:root {
    --yellow: #F6D64A;
    --teal: #55BCD5;
    --purple: #9B26B0;
    --blue: #499BD2;
    --dark-gray: #222222;
    --light-gray: #EAEAEA;
    --white: #FFFFFF;
    --black: #000000;
    --heading-font: 'Molle', cursive;
    --body-font: 'Montserrat', sans-serif;
}
.sr-only, #skip {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    }
h1 {
    font-family: var(--heading-font);
    font-size: 3.5em;
}
body {
    font-family: var(--body-font);
    line-height: 1.25;
    margin: 0 auto;
    padding: 0;
}
header {
    width: 100%;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(#55BCD5, #FFFFFF);
}
/*//////////MENU STYLES/////////////////*/
#menu-toggle {
    display: block;
    position: relative;
    top: 50px;
    left: 50px;  
    z-index: 1;  
    -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
  }
  #menu-toggle input {
    display: block;
    width: 165px;
    height: 54px;
    position: absolute;
    top: -18em;
    left: 18em; 
    padding: 0;
    cursor: pointer;  
    opacity: 0; 
    z-index: 2; 
    -webkit-touch-callout: none;
  }
  
  #menu-toggle label {
    position: relative;
    display: block;
    width: 30%;
    height: 30px;
    background:#F6D64A;
    color:#222222;
    font-weight: 600;
    text-align: center;
    padding: 10px;
    padding: 0.75em;
    top: -15em;
    left: 15em;
  }
  #menu-toggle label span {
    display: none;
  }

  nav li{
	background-color: var(--teal);
    padding: 20px 0px;
    border: 1px solid black;
}

nav a{
	color: var(--black);
	text-decoration: none;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 1.15rem;
}  
  nav a:hover{
    background-color: var(--yellow);
    color: var(--black);
  }
#menu-toggle input:checked + label, #menu-toggle input:checked {
    background:#000000;
    color:#FFFFFF;
    top: -100px;
    left: -56px;
    width: 100%;
  }
  #menu {
    position: absolute;
    width: 100%;
    margin: -100px 0 0 -50px;
    list-style-type: none;
    left: 100%;
    -webkit-transition: left 0.3s ease;
    -o-transition: left 0.3s ease;
    transition: left 0.3s ease; 
    text-align: center;
  }
  #menu-toggle input:checked ~ ul {
    left: 0;
  }
  /*****************************************END MENU STYLES***********************/
  h1, h1 + p, #intro h2, #intro p {
    margin: 10px;
  }
  #intro {
    margin: 10px;
  }
  #intro img {
    width: 100%;
    margin-top: 1.5em;
  }
  #intro h2 {
    font-family: var(--heading-font);
    font-size: 2em;
  }
  h3 {
    font-family: var(--heading-font);
    font-size: 2.5em;
    text-align: left;
    padding-top: 1em;
    padding-bottom: 0.5em;
    margin-left: 0.5em;
  }
  h4 {
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    padding-top: .5em;
  }
  #plan {
    background: var(--yellow);
    padding: 15px;
  }
  #plan img {
    margin: 10px;
    margin-left: 20%;
    max-width: 60%;
  }
  #plan section {
    border-radius: 10px;
    border: solid 5px #FFFFFF;
    background: var(--teal);
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  #plan h4 {
    margin:.25em;
  }
  #testimonials h3 {
    margin-top: 10px;
  }
  #testimonials section {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
  }
  
  #testimonials q {
    font-style: italic;
  }
  #about {
    background: var(--blue);
  }
  #about div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5em;
    padding: 1.5em;
    align-items: baseline;
    justify-items: center;
  }
  #about h4, #about p {
    text-align: center;
  }
  #about img {
    max-width: 100%;
  }
  /********CONTACT STYLES*******/
  form {
    margin: 1em;
  }

.form-required {
    font-family: var(--body-font);
    font-weight: 400;
    font-size: .85em;
    font-style: italic;
}
form label, fieldset legend {
    display: block;
    margin-top: 0.5rem;
	font-weight: bold;
    text-transform: uppercase;
}
.required {
    color: var(--purple);
}
input[type=text], input[type=email], input[type=tel], select {
    border: 2px solid var(--purple);
    padding: 15px;
    box-sizing: border-box;
    width: 100%;
  }
  input[type=radio], input[type='radio']:checked:before {
    width: 100%;
    height: 2em;
    width: 2em;
    accent-color: var(--purple);
    background: var(--purple);
  }
  fieldset label {
    text-transform: none;
    font-weight:400;
  }
  input[type=submit] {
    color: var(--white);
    background: var(--purple);
    width: 100%;
    border: none;
    padding: 15px;
    font-weight: bold;
	font-size: 1.15rem;
    text-transform: uppercase;
    margin-top: 1em;
  }
  footer {
    background: var(--light-gray);
    text-align: center;
    padding: 10px;
  }
  footer p {
    margin-bottom: 1em;
    margin-top: 1em;
  }
  footer a {
    line-height: 2em;
    text-decoration: none;
  }
/******MEDIUM SIZE STYLES*****/
@media screen and (min-width: 600px) {
    header {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0.5em;
    }
    header p {
        grid-column: 2/4;
    }
    nav {
        grid-column: 1/-1;;
    }
    #menu {
        left:0%;
    }
    nav ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 0.5rem;
    }
    #menu li {
        background: var(--white);
    }
    #menu li:first-of-type {
        background: var(--yellow);
    }
    
    h1 {
        align-self: flex-end;
    }
    #menu-toggle {
        display: grid;
    }
    #menu-toggle label, #menu-toggle input {
        display: none;
    }
    #img-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }
    #img-grid picture {
        grid-column: 1/ span 2;
    }
    #plan div {
        display:grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;    
    }
    #testimonials div {
        display:grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;    
    }
    #about div {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    fieldset {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
    input[type=submit] {
      width: 32%;
    }
    #submit {
      text-align:right;
    }
    footer {
      display: flex;
      justify-content: space-evenly;
      align-items: baseline;
    }
}
/******LARGE SIZE STYLES*****/
@media screen and (min-width: 900px) {
  header {
    grid-template-columns: 1fr 3fr 3fr;
    grid-template-rows: 1fr;
  }
  nav {
    position:absolute;
    left: 54%;
    top: 8%;
    right:0%;
  }
  #menu li {
    padding:0.5em 0.5em;

  }
  #intro {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:.5em;
  }
  #intro p {
    grid-column: 1/2;
  }
  #plan div {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  #plan section {
    width: 95%;
  }
  #testimonials div {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
    margin: auto 5em;
  }
  #about div {
    width: 80%;
    margin: auto 5em;
  }
  form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.15em;
  }
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  footer a {
    justify-self: end;
  }
  footer a:last-of-type {
    grid-column: 3/4;
    grid-row: 1/2;
    margin-right: 1em;
  }
}